#map {
    width: 100%;
    height: 980px;
    margin: 80px auto;
    border: 1px solid #3d3d3d;
}

header {
    position: relative;
    display: block;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 1rem 5rem;
    background: #cccccc;
    color: #fff;
}


/*Custom navbar class*/


/*nav bar location/placement*/

.navbar-fixed-top {
    background-color: #3d52c8;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
}


/*control of halfmoon logo location*/

.navbar .navbar-brand>img {
    margin: 0;
    float: left;
}


/*Control of "Town of Halfmoon" text position*/

.navbar .navbar-brand>p {
    margin: 0;
    padding-left: 90px;
    padding-top: 25px;
}


/*control of nav bar*/

.navbar .navbar-brand {
    padding: 0;
    font-weight: bold;
    font-size: 35px;
    color: white;
    white-space: nowrap;
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
	font-style: italic;
}


/*"Help" Link Style*/

.navbar-custom .navbar-nav>li>a {
    color: #fff;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    border-radius: 5px;
    height: -15px;
}


/*"Town of Halmoon" link style*/

.navbar-custom .navbar-nav>.active>a {
    color: #fff;
    background-color: transparent;
    /*margin-top: -10px;*/
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.navbar-custom .navbar-nav>li>a:hover, .navbar-custom .navbar-nav>li>a:focus, .navbar-custom .navbar-nav>.active>a:hover, .navbar-custom .navbar-nav>.active>a:focus, .navbar-custom .navbar-nav>.open>a {
    text-decoration: none;
    background-color: #6e76ed;
}

.navbar-custom .navbar-brand {
    color: #eeeeee;
}

.navbar-custom .navbar-toggle {
    background-color: #eeeeee;
}

.navbar-custom .icon-bar {
    background-color: #6e76ed;
}

.navbar-nav {
  font-size: 1em;
  margin: -5px;

}
.btn .glyphicon {
  margin-right: 8px;
}

.btn.btn-icon .glyphicon {
  margin-right: 0;
}
