#map {
    width: 100%;
    height: 900px;
    margin: 80px auto;
    border: 1px solid #3d3d3d;
    position: fixed;
}

header {
    position: relative;
    display: block;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 1rem 5rem;
    background: #cccccc;
    color: #fff;
}


/*nav bar location/placement*/

.navbar-fixed-top {
    background-color: #3d52c8;
    height: 85px;
    padding-left: 20px;
    padding-right: 20px;
}


/*control of halfmoon logo location*/

.navbar .navbar-brand>img {
    margin: 0;
    float: left;
}


/*Control of "Town of Halfmoon" text position*/

.navbar .navbar-brand>p {
    margin: 0;
    padding-left: 90px;
    padding-top: 30px;
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    letter-spacing: 4px;
    /*font-style: bold;*/
    color: #EFA600
}


/*control of nav bar*/

.navbar .navbar-brand {
    padding: 0;
    font-weight: bold;
    font-size: 35px;
    color: white;
    white-space: nowrap;
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}


/*Start: "Town of Halfmoon" & Help URL Link Style*/

.navbar-custom .navbar-nav>li>a {
    color: #EFA600;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: bold;
    border-radius: 5px;
    height: -15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 40px;
}

.btn-sm {
    background-color: #3d52c8;
    border: none;
    color: #EFA600;
    font-weight: bold;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 5px
    /*padding-bottom: 5px;
	margin-bottom: : 15px;*/
}

.btn-sm:hover {
    text-decoration: none;
    background-color: #6e76ed;
    color: white;
}

.btn-m:active, .btn-sm:focus {
    color: #EFA600 !important;
    background-color: #3d52c8 !important;
    border: none !important;
    outline: none !important;
}
/*Start: "Town of Halfmoon" & Help URL Link Style*/

/*Help Modal*/
.modal-backdrop {
    z-index: 1020;
}
/* Start: Launch Modal*/
.modal-content {
  width: 500px;
  font-family: 'Roboto', sans-serif;
}
.modal-header {
  font-style: italic;
  font-weight: bold;
}
.modal-footer{
  padding: 2px;
  /*width: 450px;*/
}
.modal-footer >p {
  color: Blue;

}
.modal-footer .btn.btn-default{
  background-color:#D3D3D3;
  color: #3d52c8;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
}
/*End: Launch Modal*/

/*Start: Popup look and feel*/
.custom .leaflet-popup-content-wrapper {
    background: white;
    position: absolute;
    color: #3d52c8;
    font-size: 10px;
    line-height: 24px;
    margin-top: -3px;
    margin-bottom: -3px;
    margin-left: -3px;
    margin-right: -3px
}

.custom .leaflet-popup-content-wrapper a {
    color: rgba(255, 255, 255, 0.5);
}

.custom .leaflet-popup-tip-container {
    top: 100%;
    position: inherit;
    left: 50%;
    margin-left: -16px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 20px solid #fff;
    border-left: 20px solid rgba(245, 245, 245, 0.22);
}

.custom .leaflet-popup-tip {
	width: 0;
    height: 0;
    margin: 0;
    border-left: none;
    border-right: none;
    border-top: none;
    box-shadow: none;
}

.custom .leaflet-popup-close-button {}
/*Start: Popup look and feel*/

/* Start Collapsable Panels*/
.panel-group {
    position: absolute;
    display: inline-block;
    width: auto;
    padding-top: 45px;
    margin-right: 0px;
    margin-top: 50px;
    right: 0px;
    margin-right: 10px;
}

.panel-body {
  /*position: relative;*/
    padding: 5px;
    height: auto;

}
.basemap-button {
    width: 185px;
    clear: both;
}

.panel-group .panel-heading {
    background-color: #ffd980
}

.panel-title {
    color: #6e76ed;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.clear-right {
    clear: right;
}
/* End Collapsable Panels*/

/*Button Toggle issue in layer selection panel with "on" text padding*/
.toggle-on.btn-xs {
    padding-left: 5px;
    /*color:#EFA600;*/
}

/*Start Leaflet Control Search */
.leaflet-control-search {
	margin-left: 35px;
}

 .leaflet-control .search-input {
box-shadow: 'none';
}

input#searchtext9.search-input{
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  width: 150px;
  padding: 10px
}

.search-tip>li {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  width: 150px;
  padding: 10px
}

div.leaflet-control-search.search-exp.leaflet-control .search-tooltip {
  background-color: white;
  font-size: 13px;
  font-family:  'Roboto', sans-serif;
}

.leaflet-control-search.leaflet-control.search-exp {
  box-shadow: none;
  position: inherit;
  margin: 10px;
}

.search-button {
  padding: 10px;
}

.panel-body-search-main1{
      padding: 5px;
      margin-bottom: -3px;
      height: auto;
      font-size: 13px;
      font-weight: bold;
}
.panel-body-search-main2{
      padding: 5px;
      margin-bottom: -3px;
      margin-top: 10px;
      height: auto;
      font-size: 13px;
      font-weight: bold;
}
/*Directive text for search*/
.panel-body-search-direction{
      padding: 5px;
      /*margin-top: -2px;*/
      height: auto;
      font-size: 11px;
      font-style: italic;
}

.checkbox.pull-right.clear-right{
  margin-top: 5px;
  margin-bottom: 20px;
  margin-right: 5px;
}

.checkbox.pull-right.clear-right>span>label1 {
  margin-right: 17px;
}
.checkbox.pull-right.clear-right>span>label2 {
  /*margin-right: 28px;*/
}
.checkbox.pull-right.clear-right>span>label3 {
  margin-right: 34px;
}
.checkbox.pull-right.clear-right>span>label4 {
  margin-right: 90px;
}
.checkbox.pull-right.clear-right>span>label5 {
  margin-right: 91px;
}
.checkbox.pull-right.clear-right>span>label6 {
  margin-right: 43px;
  margin-top: 15px
}
.checkbox.pull-right.clear-right>span>labelA {
  margin-right: 43px;
  margin-top: 15px
}
.checkbox.pull-right.clear-right>span>labelB {
  margin-right: 43px;
  margin-top: 15px
}
.checkbox.pull-right.clear-right>span>labelC {
  margin-right: 44px;
  margin-top: 15px
}
.checkbox.pull-right.clear-right>span>labelD {
  margin-right: 23px;
  margin-top: 15px
}

symbol#my-icon svg{
  margin-top: -10px;
  position: absolute;
}
symbol#my-trailicon svg{
  margin-top: -10px;
  position: absolute;
  margin-right: 100px
}
/*path.leaflet-clickable{
  stroke: Red;
  stroke-opacity:1;
  fill: Red;
  stroke-width:4
}*/

.switch-margin {
  margin-top:-4px;
  margin-bottom: -7px;
}
